In [1149]:
import pandas as pd 
import numpy as np
import re

data=pd.read_csv('December2_input.txt', sep=';', names=['First','Second', 'Third','Fourth','Fifth','Sixth'],index_col=False)

data.head()

,First,Second,Third,Fourth,Fifth,Sixth
0,"Game 1: 10 green, 5 blue","1 red, 9 green, 10 blue","5 blue, 6 green, 2 red","7 green, 9 blue, 1 red","2 red, 10 blue, 10 green","7 blue, 1 red"
1,"Game 2: 7 green, 5 red, 3 blue","4 blue, 7 green, 8 red","9 blue, 4 green","6 green, 3 red, 4 blue",NaN,NaN
2,"Game 3: 2 green, 4 blue, 13 red","15 blue, 9 red, 3 green","3 red, 18 blue, 3 green","6 red, 4 green, 2 blue","6 blue, 13 red",NaN
3,"Game 4: 9 red, 1 green, 13 blue",3 red,"2 blue, 6 red, 1 green","12 blue, 2 red",NaN,NaN
4,"Game 5: 1 red, 8 green","2 red, 8 green, 8 blue","1 red, 11 green","5 blue, 11 green","11 blue, 2 green","10 blue, 2 red, 1 green"

In [1150]:
data[['Game_id','First']]=data['First'].str.split(':',expand=True)
data['Game_id']=data['Game_id'].str.strip('Game ')

data.reset_index(inplace=True,drop=True)
data.set_index('Game_id',inplace=True)

data.head()

,First,Second,Third,Fourth,Fifth,Sixth
Game_id,,,,,,
1,"10 green, 5 blue","1 red, 9 green, 10 blue","5 blue, 6 green, 2 red","7 green, 9 blue, 1 red","2 red, 10 blue, 10 green","7 blue, 1 red"
2,"7 green, 5 red, 3 blue","4 blue, 7 green, 8 red","9 blue, 4 green","6 green, 3 red, 4 blue",NaN,NaN
3,"2 green, 4 blue, 13 red","15 blue, 9 red, 3 green","3 red, 18 blue, 3 green","6 red, 4 green, 2 blue","6 blue, 13 red",NaN
4,"9 red, 1 green, 13 blue",3 red,"2 blue, 6 red, 1 green","12 blue, 2 red",NaN,NaN
5,"1 red, 8 green","2 red, 8 green, 8 blue","1 red, 11 green","5 blue, 11 green","11 blue, 2 green","10 blue, 2 red, 1 green"

In [1151]:
data.fillna('0 green, 0 blue, 0 red', inplace=True)

In [1152]:

for x in range(100):
    for y in range(6):
        if 'red' not in data.iloc[x,y]:
            data.iloc[x,y]=data.iloc[x,y]+', 0 red'
        if 'blue' not in data.iloc[x,y]:
            data.iloc[x,y]=data.iloc[x,y]+', 0 blue'
        if 'green' not in data.iloc[x,y]:
            data.iloc[x,y]=data.iloc[x,y]+', 0 green'

In [1153]:
sum={'blue':0, 'green':0, 'red':0}
limit={'blue':14,'green':13,'red':12}

L=[]

for x in range(data.shape[0]):
    for y in range(data.shape[1]):
        s=re.findall('[a-z]+',data.iloc[x,y])
        t=[int(x) for x in re.findall('\d+', data.iloc[x,y])]
        d=dict(zip(s,t))
        #print(x,y,d)
        if d['red'] > limit['red'] or d['blue'] > limit['blue'] or d['green']>limit['green'] :
                L.append((x+1))

In [1154]:

L_unique=[]
for x in L :
    if x not in L_unique:
        L_unique.append(x)

In [1155]:
res=0
for i in range(101):
    if i not in L_unique :
        res+=i
print(res)

2006

In [1156]:
A=[]

for x in range(data.shape[0]):
    for y in range(data.shape[1]):
        s=re.findall('[a-z]+',data.iloc[x,y])
        t=[int(x) for x in re.findall('\d+', data.iloc[x,y])]
        d=dict(zip(s,t))
        A.append(((x+1,y+1), d['red'],d['blue'],d['green']))

In [1157]:
power_df=pd.DataFrame(A,dtype=str)

power_df[['Game','try']]=power_df[0].str.strip('(').str.strip(')').str.split(',',expand=True)
power_df['Game']=power_df['Game'].str.strip('(')
#power_df['try']=power_df['try'].str.strip(')')
power_df.drop(columns=[0],axis=1, inplace=True)

power_df.reset_index(drop=True,inplace=True)
power_df.set_index(['Game','try'],inplace=True)
power_df.rename(columns={1:'red',2:'blue',3:'green'},inplace=True)

power_df.head(20)

         red blue green
Game try
1     1    0    5    10
      2    1   10     9
      3    2    5     6
      4    1    9     7
      5    2   10    10
      6    1    7     0
2     1    5    3     7
      2    8    4     7
      3    0    9     4
      4    3    4     6
      5    0    0     0
      6    0    0     0
3     1   13    4     2
      2    9   15     3
      3    3   18     3
      4    6    2     4
      5   13    6     0
      6    0    0     0
4     1    9   13     1
      2    3    0     0

In [1158]:
power_df['red']=power_df['red'].astype(int)
power_df['blue']=power_df['blue'].astype(int)
power_df['green']=power_df['green'].astype(int)

In [1159]:
DF=power_df.groupby('Game').aggregate('max')
print(DF)

      red  blue  green
Game
1       2    10     10
10      2     8      6
100     6    15      8
11      3    13      7
12     10     3      9
...   ...   ...    ...
95      7     4      3
96     12     4     14
97      9    14      4
98     13     9     12
99     10    15      4

[100 rows x 3 columns]

In [1160]:

DF['power']=DF['red'].astype(int)*DF['blue'].astype(int)*DF['green'].astype(int)
DF['power'].sum()

84911